@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
  background: url("../../public/images/custom-cursor.svg");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}

.footer-gradient {
  background: linear-gradient(rgb(31, 31, 34) 0%, rgb(19, 21, 25) 65%);
}
