@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
  background: url("../../public/images/custom-cursor.svg");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}
